@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h1 class="display-3">Quotations</h1>
    <hr class="my-4">
    <p class="lead">United States Dollar quotation on the most important world currencies.</p>
    <div class="row" data-bind="foreach: currencies">
        <!-- ko if: currencyAbbreviation != "USD" -->
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body text-center">
                    <h4 class="card-title" data-bind="text: fullName()"></h4>
                    <h5 class="card-text" data-bind="text: formattedCurrency()"></h5>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <p class="lead">Type an amount and visualize its quotation in multiple currencies.</p>
    <div class="form-group">
        <label class="control-label">Amount</label>
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <select class="custom-select input-group-addon" data-bind="options: $root.currencies, value: inputCurrency, optionsText: 'currencyAbbreviation'"></select>
                <div class="input-group-addon" data-bind="text: inputCurrency().currencySymbol"></div>
                <input type="text" class="form-control" placeholder="Amount" data-bind="value: inputAmount">
                <select class="custom-select input-group-addon" data-bind="options: $root.currencies, value: outputCurrency, optionsText: 'currencyAbbreviation'"></select>
                <div class="input-group-addon" data-bind="text: outputCurrency().currencySymbol"></div>
                <input type="text" class="form-control" readonly="readonly" data-bind="value: outputAmount">
            </div>
        </div>
    </div>
    <hr class="my-4">
</div>
